<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <div class="container-fluid">
        <div class="row chat-container">
            <div class="col-md-3 user-space">
                <h1 class="pt-4 pl-2" id="room-name">Room</h1>
                <div class="userList mt-4 ml-5" id="user-list">
                </div>
            </div>
            <div class="col-md-9 right-screen">
                <div class="row mt-3 mb-2 chat-space" id = "chat-space">
                    <div class="chat-bubble-space" id="chat-bubble-space">

                    </div>
                </div>
                <div class="row md-2">
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="chat-input" required>
                    </div>
                    <div class="col-md-1">
                        <button class="btn-primary chat-button" id="send-button" >send</button>
                    </div>
                    
                    <div class="col-md-1">
                        <button class="btn-primary chat-button" id="location-button">location</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>