<div class="user-info" onclick="openChat(this)">
              
              <img src="/images/self.jfif" class="image img-fluid" alt="oops">
              
              <div class="user-name">
                war_harbinger
              </div>
              
</div>