
.container-outer{
    display: flex;
    flex-grow: inherit;
}
.right{
    position: relative;
    flex-grow: 5;
}
.left{
    flex-grow: 1;
    background-color: #ffffff23;
    height: 84vh;
}
.bg-custom{
    opacity: 0.3;
}
.navbar-brand-color{
    color: #ff7171;
}
.chatbox{
    border-radius: 2px;
    padding: 10px;
    height: 500px;
}
#chat-field{
    overflow-y:scroll ;
    height: 100%;
}
.chatInput{
    flex-grow: 2;
    border-radius: 5px;

}
#input1{
    background-color: #e3e3e3;
}
.textbox{
    background-color:white;
    border: none;
    width: 100%;
    resize: none;
    opacity: 0.7;
}
.chatbody{
    margin-top:100px; 
}
.chatbubble{
    background-color: #5751513a;
    padding-left: 10px;
    padding-top:4px;
    padding-bottom:4px; 
    text-align: left;
}
.chatInput{
    position: absolute;
    margin-left: 40%;
    width: 50%;
    bottom: 0;
}
.green-bubble{
    color: #93ff93;
}
.blue-bubble{
    color: #82ffff;
}
.red-bubble{
    color: #ff7171;
}
.image{
    border-radius: 50%;
    height: 100%;
}
.container-inner{
    display: flex;
    flex-direction: column;
}
.user-info{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    color: white;
    border-radius: 20px;
}
.user-name{
    margin-left: 20px;
    align-self: center;
}
.space{
    background-color:  #5751513a;
    height: 10px;
}
.private-chat{
    height: 5%;
    font-size: 17px;
    color: white;
    box-shadow: 2px 2px 50px 2px black;
    text-align: center;
}