.bg-custom{
    opacity: 0.3;
}
.navbar-brand-color{
    color: #ff7171;
}
.chatbox{
    border-radius: 2px;
    padding: 10px;
}
.chatInput{
    border-radius: 5px;
}
#input1{
    background-color: #e3e3e3;
}
.textbox{
    background-color:white;
    border: none;
    width: 100%;
    resize: none;
    opacity: 0.7;
}
.chatbody{
    margin-top:100px; 
}
.chatbubble{
    background-color: #5751513a;
    padding-left: 10px;
    padding-top:4px;
    padding-bottom:4px; 
    text-align: left;
}
.green-bubble{
    color: #93ff93;
}
.blue-bubble{
    color: #82ffff;
}
.red-bubble{
    color: #ff7171;
}

/* .space-bubble{
    background-color:  #5751513a;
    height: 10px;
} */